@model Sneaky.Classes.Review

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="wrapper animate__animated animate__fadeInUp">
        <div class="title"><span>Create Review</span></div>
        <form asp-action="Create" class="animate__animated animate__zoomIn animate__delay-1s">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" value="@ViewBag.Id"/>
            <div class="row mb-5">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                        <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </i>
                <input asp-for="Comment" class="form-control" placeholder="Comment" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="row button">
                <input type="submit" value="Create" class="btn w-25" />
                <a asp-action="Index" class="btn outline-button w-25">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
